<?xml version="1.0"?>
<!--
/**
 * Atwix
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 * @category    For article
 * @package     Atwix_Observer
 * @author      Atwix Core Team
 * @copyright   Copyright (c) 2016 Atwix (http://www.atwix.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Atwix_Observer>
            <version>1.0.0.0</version>
        </Atwix_Observer>
    </modules>
    <!-- global area -->
    <global>
        <!-- declare the models for the Magento factories -->
        <models>
            <atwix_observer>
                <class>Atwix_Observer_Model</class>
            </atwix_observer>
        </models>
        <!-- declare observer for the all of the requests -->
        <events>
            <!-- event name -->
            <controller_action_predispatch>
                <observers>
                    <!-- unique name of the observer in this event node -->
                    <atwix_observer>
                        <!-- the alias of the observer class  -->
                        <class>atwix_observer/observer</class>
                        <!-- the name of the public method -->
                        <method>logAllRequests</method>
                    </atwix_observer>
                </observers>
            </controller_action_predispatch>
        </events>
    </global>
    <!-- adminhtml area -->
    <adminhtml>
        <!-- declare observer for the adminhtml of the requests -->
        <events>
            <!-- event name -->
            <controller_action_predispatch>
                <observers>
                    <!-- unique name of the observer in this event node -->
                    <atwix_observer>
                        <!-- the alias of the observer class  -->
                        <class>atwix_observer/observer</class>
                        <!-- the name of the public method -->
                        <method>logAdminhtmlRequests</method>
                    </atwix_observer>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>
    <!-- frontend area -->
    <frontend>
        <!-- declare observer for the frontend of the requests -->
        <events>
            <!-- event name -->
            <controller_action_predispatch>
                <observers>
                    <!-- unique name of the observer in this event node -->
                    <atwix_observer>
                        <!-- the alias of the observer class  -->
                        <class>atwix_observer/observer</class>
                        <!-- the name of the public method -->
                        <method>logFrontendRequests</method>
                    </atwix_observer>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
</config>
